{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">이름</th>
        <th scope="col">주소</th>
    </tr>
    </thead>
    <tbody>
    {{#information}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{fullAddress}}</td>
        </tr>
    {{/information}}
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-secondary" onclick="location.href='/notice/hospitals/info{{#next}}?page={{page}}{{/next}}'">
    next
    </button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/notice/hospitals/info{{#previous}}?page={{page}}{{/previous}}'">
    previous
    </button>
</div>
{{>layouts/footer}}