{{>layouts/header}}
    <table class="table table-primary">
        <thead>
            <tr class="table-dark">
                <th class="table-dark" scope="col">번호</th>
                <th class="table-dark" scope="col">제목</th>
                <th class="table-dark" scope="col">내용</th>
                <th class="table-dark" scope="col">작성자</th>
            </tr>
         </thead>
        <tbody>
        {{#records}}
        <tr class = "table-light" >
            <th class = "table-light" scope="row"><a href="/notice/{{id}}">{{id}}</a></th>
            <td class = "table-light" ><a href="/notice/{{id}}">{{#title}}{{title}}{{/title}}</a></td>
            <td class = "table-light" >{{#contents}}{{contents}}{{/contents}}</td>
            <td class = "table-light" >{{#author}}{{author}}{{/author}}</td>
        </tr>
        {{/records}}
        </tbody>
    </table>

{{>layouts/footer}}