{{>layouts/header}}
    <table class="table table-primary">
        <thead>
            <tr class="table-dark">
                <th class="table-dark" scope="col">번호</th>
                <th class="table-dark" scope="col">제목</th>
                <th class="table-dark" scope="col">내용</th>
                <th class="table-dark" scope="col">작성자</th>
            </tr>
         </thead>
        <tbody>
        {{#records}}
        <tr class = "table-light" >
            <th class = "table-light" scope="row">{{id}}</th>
            <td class = "table-light" ><a href="/notice/{{id}}">{{title}}</a></td>
            <td class = "table-light" >{{contents}}</td>
            <td class = "table-light" >{{author}}</td>
        </tr>
        {{/records}}
        </tbody>
    </table>

{{>layouts/footer}}