{{>layouts/header}}
{{#record}}
<div class="card container" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
        <p class="card-text">{{contents}}</p>
        <a href="/notice/all" class="card-link">포스트 목록</a>
        <a href="/notice/new" class="card-link">새 포스트 생성</a>
    </div>
    <a href="/notice/{{id}}/patch" class="btn btn-primary">Edit</a>
    <a href="/notice/{{id}}/null" class="btn btn-danger">Delete</a>
</div>

{{#comments}}
    <form>
        작성자: {{#author}}{{author}}{{/author}}
    </form>
    <form>
        내용: {{#contents}}{{contents}}{{/contents}}
    </form>
{{/comments}}
{{^comments}}댓글 없음{{/comments}}
<form action="/notice/{{id}}/feedback" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="author" value="이름을 적어주세요"/>
    <textarea rows="3" name="contents">비속어 제외하고 적어주세요.</textarea>
    <button type="submit">댓글 달기</button>
</form>
{{/record}}
{{>layouts/footer}}
