{{>layouts/header}}
{{#record}}
<div>
    제목: {{title}}
    내용: {{contents}}
    작성자: {{author}}
    <a href="/notice/{{id}}/edit" class="btn btn-primary">Edit</a>
</div>
{{/record}}
{{>layouts/footer}}
