{{>layouts/header}}
<table class="table table-light">
    <thead>
    <tr>
        <th class="table-dark" scope="col">번호</th>
        <th class="table-dark" scope="col">이름</th>
        <th class="table-dark" scope="col">주소</th>
    </tr>
    </thead>
    <tbody>
    {{#information}}
        <tr>
            <th class="table-light" scope="row">{{id}}</th>
            <td class="table-light"><a href="/notice/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td class="table-light">{{roadNameAddress}}</td>
        </tr>
    {{/information}}
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-secondary" onclick="location.href='/notice/hospitals/info{{#previous}}?page={{page}}{{/previous}}'">
    previous
    </button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/notice/hospitals/info{{#next}}?page={{page}}{{/next}}'">
    next
    </button>
</div>
{{>layouts/footer}}