{{>layouts/header}}
<form class="d-flex" role="search" action="/notice/hospitals" method="get">
    <input name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table table-light">
    <thead>
    <tr>
        <th class="table-dark" scope="col">번호</th>
        <th class="table-dark" scope="col">이름</th>
        <th class="table-dark" scope="col">주소</th>
    </tr>
    </thead>
    <tbody>
    {{#information}}
        <tr>
            <th class="table-light" scope="row">{{id}}</th>
            <td class="table-light"><a href="/notice/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td class="table-light">{{roadNameAddress}}</td>
        </tr>
    {{/information}}
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-secondary"
            onclick="location.href='/notice/hospitals{{#keyword}}?keyword={{keyword}}{{#previous}}&page={{page}}{{/previous}}{{/keyword}}{{^keyword}}/info{{#previous}}?page={{page}}{{/previous}}{{/keyword}}'">
    previous
    </button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/notice/hospitals{{#keyword}}?keyword={{keyword}}{{#next}}&page={{page}}{{/next}}{{/keyword}}{{^keyword}}/info{{#next}}?page={{page}}{{/next}}{{/keyword}}'">
    next
    </button>
</div>
{{>layouts/footer}}